In [6]:
import pandas as pd
import gmaps
import requests

In [7]:
from config import g_key

In [9]:
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Phek,IN,71.29,light rain,25.70,94.46,General Administration Guest House
1,28,Mbanza-Ngungu,CD,73.92,light rain,-5.25,14.87,Hotel Full Business
2,37,Buala,SB,79.88,light rain,-8.15,159.59,Maringe Lagoon Lodge
3,46,Faanui,PF,79.09,moderate rain,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
4,61,Colwyn Bay,GB,48.20,light rain,53.29,-3.71,Bryn Woodlands House

In [10]:
city1_df = vacation_df.loc[(vacation_df["City"] == 'Itarema')]
city2_df = vacation_df.loc[(vacation_df["City"] == 'Trairi')]
city3_df = vacation_df.loc[(vacation_df["City"] == 'Indiaroba')]
city4_df = vacation_df.loc[(vacation_df["City"] == 'Coruripe')]
city1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,286,Itarema,BR,78.42,light rain,-2.92,-39.92,Windvillage

In [11]:
# pack tuples for coordinates
city1_tuple = (city1_df['Lat'].values[0], city1_df['Lng'].values[0])
city2_tuple = (city2_df['Lat'].values[0], city2_df['Lng'].values[0])
city3_tuple = (city3_df['Lat'].values[0], city3_df['Lng'].values[0])
city4_tuple = (city4_df['Lat'].values[0], city4_df['Lng'].values[0])

# plot directions map
fig = gmaps.figure()
full_route = gmaps.directions_layer(
        city1_tuple, city4_tuple, waypoints=[city2_tuple, city3_tuple],
        travel_mode='DRIVING')
fig.add_layer(full_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
full_route_df = vacation_df.loc[(vacation_df["City"] == 'Itarema') | 
                                (vacation_df["City"] == 'Trairi') |
                                (vacation_df["City"] == 'Indiaroba') |
                                (vacation_df["City"] == 'Coruripe')]
full_route_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,286,Itarema,BR,78.42,light rain,-2.92,-39.92,Windvillage
36,379,Trairi,BR,75.49,light rain,-3.28,-39.27,Pousada Field Lilies - Trairi
51,490,Indiaroba,BR,75.56,light rain,-11.53,-37.51,Hotel Pousada Marivan
54,514,Coruripe,BR,77.94,light rain,-10.12,-36.18,Pousada e Hotel Litoral Sul

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} with a maximum temperature of {Max Temp}Â°F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in full_route_df.iterrows()]

In [20]:

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = full_route_df[["Lat", "Lng"]]
max_temp = full_route_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))