In [1]:
#Import the Dependencies
import pandas as pd
import gmaps
import requests

In [2]:
# Import the API key
from  config import g_key

In [3]:
# Stre the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2020-04-02 19:10:43,-42.88,147.33,60.80,67,40,14.99
1,1,Nome,US,2020-04-02 19:07:46,64.50,-165.41,21.00,92,90,13.87
2,2,Narsaq,GL,2020-04-02 19:10:44,60.92,-46.05,26.60,63,40,3.36
3,3,Xining,CN,2020-04-02 19:10:44,36.62,101.77,30.94,37,99,3.56
4,4,Mount Gambier,AU,2020-04-02 19:08:54,-37.83,140.77,57.20,87,40,9.17

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to user your Google API key
gmaps.configure(api_key=g_key)

In [8]:
#1. Assign t;he locations to an array of latitude and longtitude 
locations = city_data_df [['Lat', 'Lng']]
# 2. Assign the weights variable to some values
max_temp = city_data_df['Max Temp']
# Assign the figure variable
fig = gmaps.figure()
#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of precent humidity
locations =city_data_df[["Lat","Lng"]]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=humidity, dissipating=False, max_intensity=300, point_radius=4 )
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of precent couldiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#Create a wind Speed Heatmap
locations= city_data_df[['Lat','Lng']]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minium and maxium temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip '))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip 15
What is the maximum temperature you would like for your trip? 30

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Nome,US,2020-04-02 19:07:46,64.50,-165.41,21.00,92,90,13.87
2,2,Narsaq,GL,2020-04-02 19:10:44,60.92,-46.05,26.60,63,40,3.36
30,30,Qaqortoq,GL,2020-04-02 19:10:55,60.72,-46.03,26.60,63,40,3.36
33,33,Gari,RU,2020-04-02 19:10:56,59.43,62.35,28.44,95,77,11.70
40,40,Nanortalik,GL,2020-04-02 19:10:59,60.14,-45.24,25.65,81,0,14.54
54,54,Talnakh,RU,2020-04-02 19:11:03,69.49,88.40,28.40,86,90,42.50
61,61,Pangody,RU,2020-04-02 19:11:05,65.85,74.49,21.25,96,100,16.20
70,70,Lokomotivnyy,RU,2020-04-02 19:11:07,53.01,60.57,26.94,89,1,12.95
88,88,Provideniya,RU,2020-04-02 19:11:13,64.38,-173.30,20.14,95,99,6.02
94,94,Hovd,MN,2020-04-02 19:11:16,48.01,91.64,29.25,43,0,4.97

In [19]:
preferred_cities_df.count()

City_ID       48
City          48
Country       48
Date          48
Lat           48
Lng           48
Max Temp      48
Humidity      48
Cloudiness    48
Wind Speed    48
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
1           Nome      US     21.00  64.50 -165.41
2         Narsaq      GL     26.60  60.92  -46.05
30      Qaqortoq      GL     26.60  60.72  -46.03
33          Gari      RU     28.44  59.43   62.35
40    Nanortalik      GL     25.65  60.14  -45.24
54       Talnakh      RU     28.40  69.49   88.40
61       Pangody      RU     21.25  65.85   74.49
70  Lokomotivnyy      RU     26.94  53.01   60.57
88   Provideniya      RU     20.14  64.38 -173.30
94          Hovd      MN     29.25  48.01   91.64

In [25]:
# Dependencies and Setup
import requests
import gmaps

#Import API key
from config import g_key

In [28]:
# Set parameters to search for a hotel
params = {'radius':5000,'type':'lodging','key':g_key, "location": "48.8566, 2.3522"}

# Iterate through the Data Frame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))